git+https://github.com/amaranth-lang/amaranth-soc
git+https://github.com/amaranth-lang/amaranth-stdio
git+https://github.com/amaranth-lang/amaranth-boards
git+https://github.com/lambdaconcept/minerva
git+https://github.com/m-labs/asyncserial
